
<p-toolbar styleClass="mb-6">
    <ng-template #start>
        <p-button label="New" icon="pi pi-plus" severity="secondary" class="mr-2" (click)="openNew()" />
        <!-- <p-button severity="secondary" label="Delete" icon="pi pi-trash" outlined (onClick)="deleteSelectedemployes()" [disabled]="!selectedemployes || !selectedemployes.length" /> -->
    </ng-template>

    <ng-template #end>
        <p-button label="Export" icon="pi pi-upload" severity="secondary" (onClick)="exportCSV()" />
    </ng-template>
</p-toolbar>

<p-table
    #dt
    [value]="employes()"
    [rows]="10"
    [columns]="cols"
    [paginator]="true"
    [globalFilterFields]="['name', 'country.name', 'representative.name', 'status']"
    [tableStyle]="{ 'min-width': '75rem' }"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} employes"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 20, 30]"
>
    <ng-template #caption>
        <div class="flex items-center justify-between">
            <h5 class="m-0">Manage employes</h5>
            <p-iconfield>
                <p-inputicon styleClass="pi pi-search" />
                <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..." />
            </p-iconfield>
        </div>
    </ng-template>
    <ng-template #header>
        <tr>
            <!-- <th style="width: 3rem">
                <p-tableHeaderCheckbox />
            </th> -->
            <!-- <th style="min-width: 16rem">Code</th> -->
            <th pSortableColumn="nom">
                Nom de l'employé
                <p-sortIcon field="nom" />
            </th>
            <!-- <th>Image</th> -->
            <th pSortableColumn="numeroEmploye">
                Numéro d'employé
                <p-sortIcon field="numeroEmploye" />
            </th>
            <th pSortableColumn="dateEmbauche">
                Date d'embauche
                <p-sortIcon field="dateEmbauche" />
            </th>
            <th pSortableColumn="typeContrat">
                Type de contrat
                <p-sortIcon field="typeContrat" />
            </th>
            <th pSortableColumn="estActif">
                Status
                <p-sortIcon field="estActif" />
            </th>
            <th style="min-width: 12rem"></th>
        </tr>
    </ng-template>
    <ng-template #body let-employe>
        <tr>
            <!-- <td style="width: 3rem">
                <p-tableCheckbox [value]="employe" />
            </td> -->
            <td>{{ employe.nomEmploye }}</td>
            <td>{{ employe.numeroEmploye }}</td>
            <!-- <td>
                <img [src]="'https://primefaces.org/cdn/primeng/images/demo/employe/' + employe.image" [alt]="employe.name" style="width: 64px" class="rounded" />
            </td> -->
            <td>{{ employe.dateEmbauche | date }}</td>
            <td>{{ employe.typeContrat }}</td>
            <td>
                <p-tag [value]="getSeverity(employe.estActif)" [severity]="getStatus(employe.estActif)" />
            </td>

            <td>
                <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" (click)="editEmploye(employe)" />
                <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" (click)="deleteEmploye(employe)" />
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog [(visible)]="employeDialog" [style]="{ width: '750px' }" header="Informations de l'employé" [modal]="true">
    <ng-template #content>
        <div class="flex flex-col gap-6">
            <div>
                <label for="name" class="block font-bold mb-3">Nom complet</label>
                <input type="text" pInputText id="name" [(ngModel)]="createEmpDto.nomComplet" required autofocus fluid />
                <small class="text-red-500" *ngIf="submitted && !createEmpDto.nomComplet">Le nom complet est requis.</small>
            </div>
            <div>
                <div class="grid grid-cols-12 gap-4">
                    <div class="col-span-6">
                        <label for="code" class="block font-bold mb-3">Numéro de téléphone</label>
                        <input type="phone" pInputText id="code" [(ngModel)]="createEmpDto.telephone" required fluid />
                        <small class="text-red-500" *ngIf="submitted && !createEmpDto.telephone">Le numéro de téléphone est requis.</small>
                    </div>
                    <div class="col-span-6">
                        <label for="code" class="block font-bold mb-3">Adresse email</label>
                        <input type="email" pInputText id="code" [(ngModel)]="createEmpDto.email" required fluid />
                        <small class="text-red-500" *ngIf="submitted && !createEmpDto.email">L'adresse email est requise.</small>
                    </div>
                </div>
            </div>
            <hr class="my-0" />

            <div class="grid grid-cols-12 gap-4">
                <div class="col-span-4">
                    <label for="typeContrat" class="block font-bold mb-3">Type de contrat</label>
                    <p-select [(ngModel)]="createEmpDto.typeContrat" inputId="typeContrat" [options]="typeContrats" optionLabel="libelle" optionValue="code" [virtualScroll]="true" [virtualScrollItemSize]="10" placeholder="Select a Type" fluid />
                    <small class="text-red-500" *ngIf="submitted && !createEmpDto.typeContrat">Le type de contrat est requis.</small>
                </div>
                <div class="col-span-4">
                    <label for="numeroCnps" class="block font-bold mb-3">Numéro CNPS</label>
                    <input type="text" pInputText id="numeroCnps" [(ngModel)]="createEmpDto.numeroCnps" required fluid />
                    <small class="text-red-500" *ngIf="submitted && !createEmpDto.numeroCnps">Le numéro CNPS est requis.</small>
                </div>
                <div class="col-span-4">
                    <label for="numeroEmploye" class="block font-bold mb-3">Numéro d'employé</label>
                    <input type="text" pInputText id="numeroEmploye" [(ngModel)]="createEmpDto.numeroEmploye" required fluid />
                    <small class="text-red-500" *ngIf="submitted && !createEmpDto.numeroEmploye">Le numéro d'employé est requis.</small>
                </div>
            </div>
            <div class="grid grid-cols-12 gap-4">
                <div class="col-span-5">
                    <label for="salaireBaseXaf" class="block font-bold mb-3">Salaire de base</label>
                    <p-inputnumber id="salaireBaseXaf" [(ngModel)]="createEmpDto.salaireBaseXaf" mode="currency" currency="USD" locale="en-US" fluid />
                    <small class="text-red-500" *ngIf="submitted && !createEmpDto.salaireBaseXaf">Le salaire de base est requis.</small>
                </div>
                <div class="col-span-3">
                    <label for="dateEmbauche" class="block font-bold mb-3">Date d'embauche</label>
                    <p-datepicker [showIcon]="true" [showButtonBar]="false" [(ngModel)]="createEmpDto.dateEmbauche"></p-datepicker>
                    <small class="text-red-500" *ngIf="submitted && !createEmpDto.dateEmbauche">La date d'embauche est requise.</small>
                </div>
                <div class="col-span-4">
                    <label for="role" class="block font-bold mb-3">Rôle</label>
                    <p-select [(ngModel)]="createEmpDto.role" inputId="role" [options]="listeRoles" optionLabel="libelle" optionValue="code" [virtualScroll]="true"  placeholder="Select a Role" fluid />
                    <small class="text-red-500" *ngIf="submitted && !createEmpDto.role">Le rôle est requis.</small>
                </div>
            </div>

        </div>
    </ng-template>

    <ng-template #footer>
        <p-button label="Fermer" icon="pi pi-times" text (click)="hideDialog()" />
        <p-button label="Enregistrer" icon="pi pi-check" (click)="saveEmploye()" />
    </ng-template>
</p-dialog>


<p-confirmdialog [style]="{ width: '450px' }" />
