
<p-toolbar styleClass="mb-6">
    <ng-template #start>
        <p-button label="New" icon="pi pi-plus" severity="secondary" class="mr-2" (click)="openNew()" />
        <!-- <p-button severity="secondary" label="Delete" icon="pi pi-trash" outlined (onClick)="deleteSelectedinterventions()" [disabled]="!selectedinterventions || !selectedinterventions.length" /> -->
    </ng-template>

    <ng-template #end>
        <p-button label="Export" icon="pi pi-upload" severity="secondary" (onClick)="exportCSV()" />
    </ng-template>
</p-toolbar>

<p-table
    #dt
    [value]="interventionList()"
    [rows]="10"
    [columns]="cols"
    [paginator]="true"
    [globalFilterFields]="['name', 'country.name', 'representative.name', 'status']"
    [tableStyle]="{ 'min-width': '75rem' }"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} interventions"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 20, 30]"
>
    <ng-template #caption>
        <div class="flex items-center justify-between">
            <h5 class="m-0">Manage interventions</h5>
            <p-iconfield>
                <p-inputicon styleClass="pi pi-search" />
                <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..." />
            </p-iconfield>
        </div>
    </ng-template>
    <ng-template #header>
        <tr>
            <th style="width: 3rem">
                <input type="checkbox" checked="true" disabled="true"/>
            </th>
            <!-- <th style="min-width: 16rem">Code</th> -->
            <th pSortableColumn="reference">
                Référence
                <p-sortIcon field="reference" />
            </th>
            <!-- <th>Image</th> -->
            <th pSortableColumn="titre">
                Titre
                <p-sortIcon field="titre" />
            </th>
            <th pSortableColumn="statut">
                Statut
                <p-sortIcon field="statut" />
            </th>
            <th pSortableColumn="adresse">
                Adresse
                <p-sortIcon field="adresse" />
            </th>
            <th pSortableColumn="dateDebut">
                Date de début
                <p-sortIcon field="dateDebut" />
            </th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template #body let-intervention>
        <tr>
            <td style="width: 3rem">
                <i class="pi pi-arrow-up-right" style="cursor: pointer;" (click)="getInterventionDetails(intervention)"></i>
            </td>
            <td>{{ intervention.reference }}</td>
            <td>{{ intervention.titre }}</td>
            <!-- <td>
                <img [src]="'https://primefaces.org/cdn/primeng/images/demo/employe/' + employe.image" [alt]="employe.name" style="width: 64px" class="rounded" />
            </td> -->
            <td>
                <p-tag [value]="intervention.statut" />
            </td>
            <td>{{ intervention.adresse }}</td>
            <td>{{ intervention.dateDebut | date }}</td>

            <td>
                <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" (click)="editIntervention(intervention)" />
                <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" (click)="deleteIntervention(intervention)" />
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog [(visible)]="inerventionDialog" [style]="{ width: '750px' }" header="Données de l'intervention" [modal]="true">
    <ng-template #content>
        <div class="flex flex-col gap-6">
            <div class="grid grid-cols-12 gap-4">
                <div class="col-span-8">
                    <label for="name" class="block font-bold mb-3">Titre</label>
                    <input type="text" pInputText id="name" [(ngModel)]="intervention.titre" required autofocus fluid />
                    <small class="text-red-500" *ngIf="submitted && !intervention.titre">Le titre est requis.</small>
                </div>
                <div class="col-span-4">
                    <label for="type" class="block font-bold mb-3">Type d'intervention</label>
                    <p-select [(ngModel)]="intervention.type" inputId="type" [options]="typeInterventionList" optionLabel="libelle" optionValue="code" placeholder="Select a Type" fluid />
                    <small class="text-red-500" *ngIf="submitted && !intervention.type">Le type d'intervention est requis.</small>
                </div>
            </div>
            <div>
                <label for="description" class="block font-bold">Description</label>
                <textarea id="description" pTextarea [(ngModel)]="intervention.description" required rows="3" cols="20" fluid></textarea>
            </div>
            <p-fieldset legend="Coordonnées" class="mt-0">
                <div class="grid grid-cols-12 gap-4 mb-3">
                    <div class="col-span-6">
                        <label for="reference" class="block font-bold mb-3">Code</label>
                        <input type="text" pInputText id="reference" [(ngModel)]="intervention.reference" required fluid />
                        <small class="text-red-500" *ngIf="submitted && !intervention.reference">Le code est requis.</small>
                    </div>
                    <div class="col-span-6">
                        <label for="nomClient" class="block font-bold mb-3">Nom du client</label>
                        <input type="text" pInputText id="nomClient" [(ngModel)]="intervention.nomClient" value="Eneo" required fluid />
                        <small class="text-red-500" *ngIf="submitted && !intervention.nomClient">Le nom du client est requis.</small>
                    </div>
                </div>
                <div class="grid grid-cols-12 gap-4">
                    <div class="col-span-6">
                        <label for="adresse" class="block font-bold mb-3">Adresse</label>
                        <input type="text" pInputText id="adresse" [(ngModel)]="intervention.adresse" required fluid />
                        <small class="text-red-500" *ngIf="submitted && !intervention.adresse">L'adresse est requise.</small>
                    </div>
                    <div class="col-span-3">
                        <label for="latitude" class="block font-bold mb-3">Latitude</label>
                        <input type="number" pInputText id="latitude" [(ngModel)]="intervention.latitude" required fluid />
                        <small class="text-red-500" *ngIf="submitted && !intervention.latitude">La latitude est requise.</small>
                    </div>
                    <div class="col-span-3">
                        <label for="longitude" class="block font-bold mb-3">Longitude</label>
                        <input type="number" pInputText id="longitude" [(ngModel)]="intervention.longitude" required fluid />
                        <small class="text-red-500" *ngIf="submitted && !intervention.longitude">La longitude est requise.</small>
                    </div>
                </div>
            </p-fieldset>

            <div>
                <div class="grid grid-cols-12 gap-4">
                    <div class="col-span-4">
                        <label for="dateDebut" class="block font-bold mb-3">Date de début</label>
                        <p-datepicker [showIcon]="true" [showButtonBar]="false" [(ngModel)]="intervention.dateDebut" dateFormat="dd/mm/yy"></p-datepicker>
                        <small class="text-red-500" *ngIf="submitted && !intervention.dateDebut">La date de début est requise.</small>
                    </div>
                    <div class="col-span-4">
                        <label for="dateFin" class="block font-bold mb-3">Date de fin</label>
                        <p-datepicker [showIcon]="true" [showButtonBar]="false" [(ngModel)]="intervention.dateFin" dateFormat="dd/mm/yy"></p-datepicker>
                        <small class="text-red-500" *ngIf="submitted && !intervention.dateFin">La date de fin est requise.</small>
                    </div>
                    <div class="col-span-4">
                        <label for="datePlanifiee" class="block font-bold mb-3">Date planifiée</label>
                        <p-datepicker [showIcon]="true" [showButtonBar]="false" [(ngModel)]="intervention.datePlanifiee" dateFormat="dd/mm/yy"></p-datepicker>
                        <small class="text-red-500" *ngIf="submitted && !intervention.datePlanifiee">La date planifiée est requise.</small>
                    </div>
                </div>
            </div>
            <hr class="my-0" />
            <div class="grid grid-cols-12 gap-4">
                <div class="col-span-4">
                    <label for="notes" class="block font-bold mb-3">Noter l'intervention</label>
                    <input type="text" min="0" max="5" pInputText id="notes" [(ngModel)]="intervention.notes" required fluid />
                </div>
            </div>
            <div>
                <label for="dateValidation" class="block font-bold mb-3">Date de validation</label>
                <p-datepicker [showIcon]="true" [showButtonBar]="false" [(ngModel)]="intervention.dateValidation" dateFormat="dd/mm/yy"></p-datepicker>
                <small class="text-red-500" *ngIf="submitted && !intervention.dateValidation">La date de validation est requise.</small>
            </div>
        </div>
    </ng-template>

    <ng-template #footer>
        <p-button label="Fermer" icon="pi pi-times" text (click)="hideDialog()" />
        <p-button label="Enregistrer" icon="pi pi-check" (click)="saveIntervention()" />
    </ng-template>
</p-dialog>


<p-confirmdialog [style]="{ width: '450px' }" />


@if (intervention) {
    <!-- Ici, on va mettre un composant  -->
    <div class="card  mt-5">
        <p-stepper [value]="currentNumStep()" class="basis-[50rem]" [linear]="true">
            <!-- <p-step-list style="display: none;"> -->
            <p-step-list>
                <p-step [value]="1">Header I</p-step>
                <p-step [value]="2">Header II</p-step>
                <p-step [value]="3">Header II</p-step>
            </p-step-list>
            <p-step-panels>
                <p-step-panel [value]="1">
                    <ng-template #content let-activateCallback="activateCallback">
                       <p-fieldset legend="Informations générales" class="mt-0">
                            <div class="grid grid-cols-12 gap-4">
                                <div class="col-span-8">
                                    <label for="name2" class="block font-bold mb-3">Titre</label>
                                    <input type="text" pInputText id="name2" [(ngModel)]="intervention.titre" required autofocus fluid />
                                    <small class="text-red-500" *ngIf="submitted && !intervention.titre">Le titre est requis.</small>
                                </div>
                                <div class="col-span-4">
                                    <label for="type2" class="block font-bold mb-3">Type d'intervention</label>
                                    <p-select [(ngModel)]="intervention.type" inputId="type2" [options]="typeInterventionList" optionLabel="libelle" optionValue="code" placeholder="Select a Type" fluid />
                                    <small class="text-red-500" *ngIf="submitted && !intervention.type">Le type d'intervention est requis.</small>
                                </div>
                            </div>
                            <div>
                                <label for="description2" class="block font-bold mt-3">Description</label>
                                <textarea id="description2" class="form-control mt-3" pTextarea [(ngModel)]="intervention.description" required rows="3" cols="20" fluid></textarea>
                            </div>
                        </p-fieldset>

                        <p-fieldset legend="Client & lieu" class="mt-0">
                            <div class="grid grid-cols-12 gap-4 mb-3">
                                <div class="col-span-6">
                                    <label for="reference2" class="block font-bold mb-3">Code</label>
                                    <input type="text" pInputText id="reference2" [(ngModel)]="intervention.reference" required fluid />
                                    <small class="text-red-500" *ngIf="submitted && !intervention.reference">Le code est requis.</small>
                                </div>
                                <div class="col-span-6">
                                    <label for="nomClient2" class="block font-bold mb-3">Nom du client</label>
                                    <input type="text" pInputText id="nomClient2" [(ngModel)]="intervention.nomClient" value="Eneo" required fluid />
                                    <small class="text-red-500" *ngIf="submitted && !intervention.nomClient">Le nom du client est requis.</small>
                                </div>
                            </div>
                            <div class="grid grid-cols-12 gap-4">
                                <div class="col-span-6">
                                    <label for="adresse2" class="block font-bold mb-3">Adresse</label>
                                    <input type="text" pInputText id="adresse2" [(ngModel)]="intervention.adresse" required fluid />
                                    <small class="text-red-500" *ngIf="submitted && !intervention.adresse">L'adresse est requise.</small>
                                </div>
                                <div class="col-span-3">
                                    <label for="latitude2" class="block font-bold mb-3">Latitude</label>
                                    <input type="number" pInputText id="latitude2" [(ngModel)]="intervention.latitude" required fluid />
                                    <small class="text-red-500" *ngIf="submitted && !intervention.latitude">La latitude est requise.</small>
                                </div>
                                <div class="col-span-3">
                                    <label for="longitude2" class="block font-bold mb-3">Longitude</label>
                                    <input type="number" pInputText id="longitude2" [(ngModel)]="intervention.longitude" required fluid />
                                    <small class="text-red-500" *ngIf="submitted && !intervention.longitude">La longitude est requise.</small>
                                </div>
                            </div>

                        </p-fieldset>
                        <p-fieldset>
                            <div>
                                <div class="grid grid-cols-12 gap-4">
                                    <div class="col-span-4">
                                        <label for="dateDebut2" class="block font-bold mb-3">Date de début</label>
                                        <p-datepicker [showIcon]="true" [showButtonBar]="false" [(ngModel)]="intervention.dateDebut" dateFormat="dd/mm/yy"></p-datepicker>
                                        <small class="text-red-500" *ngIf="submitted && !intervention.dateDebut">La date de début est requise.</small>
                                    </div>
                                    <div class="col-span-4">
                                        <label for="dateFin2" class="block font-bold mb-3">Date de fin</label>
                                        <p-datepicker [showIcon]="true" [showButtonBar]="false" [(ngModel)]="intervention.dateFin" dateFormat="dd/mm/yy"></p-datepicker>
                                        <small class="text-red-500" *ngIf="submitted && !intervention.dateFin">La date de fin est requise.</small>
                                    </div>
                                    <div class="col-span-4">
                                        <label for="datePlanifiee2" class="block font-bold mb-3">Date planifiée</label>
                                        <p-datepicker [showIcon]="true" [showButtonBar]="false" [(ngModel)]="intervention.datePlanifiee" dateFormat="dd/mm/yy"></p-datepicker>
                                        <small class="text-red-500" *ngIf="submitted && !intervention.datePlanifiee">La date planifiée est requise.</small>
                                    </div>
                                </div>
                            </div>
                            <hr class="my-0" />
                            <div class="grid grid-cols-12 gap-4">
                                <div class="col-span-4">
                                    <label for="notes2" class="block font-bold mb-3">Noter l'intervention</label>
                                    <input type="text" min="0" max="5" pInputText id="notes2" [(ngModel)]="intervention.notes" required fluid />
                                </div>
                            </div>
                            <div>
                                <label for="dateValidation2" class="block font-bold mb-3">Date de validation</label>
                                <p-datepicker [showIcon]="true" [showButtonBar]="false" [(ngModel)]="intervention.dateValidation" dateFormat="dd/mm/yy"></p-datepicker>
                                <small class="text-red-500" *ngIf="submitted && !intervention.dateValidation">La date de validation est requise.</small>
                            </div>
                        </p-fieldset>
                        <div class="flex pt-6 justify-end">
                            <p-button label="Valider la saisie" icon="pi pi-arrow-right" iconPos="right" (onClick)="etapeSaisie(1)" />
                        </div>
                    </ng-template>
                </p-step-panel>
                <p-step-panel [value]="2">
                    <ng-template #content let-activateCallback="activateCallback">

                        <div class="card">
                            <p-picklist [source]="sourceEmployees()" [target]="targetEmployees()" [dragdrop]="true" [responsive]="true" sourceFilterPlaceholder="Search by name" targetFilterPlaceholder="Search by name" breakpoint="1400px" scrollHeight="20rem" showSourceControls="false" showTargetControls="false">
                                <ng-template let-option let-selected="selected" #item>
                                    <div class="flex flex-wrap p-1 items-center gap-4 w-full">
                                        <!-- <img class="w-12 shrink-0 rounded" src="https://primefaces.org/cdn/primeng/images/demo/product/{{ option.image }}" [alt]="option.name" /> -->
                                        <div class="flex-1 flex flex-col">
                                            <span class="font-medium text-sm">{{ option.utilisateur?.nomComplet }}</span>
                                            <span
                                                [ngClass]="{
                                                    'text-surface-500': !selected,
                                                    'dark:text-surface-400': !selected,
                                                    'text-inherit': selected
                                                }"
                                                >{{ option.utilisateur?.role }}</span
                                            >
                                        </div>
                                        <span class="font-bold sm:ml-8">{{ option.utilisateur?.email ?? 'Email non disponible' }}</span>
                                    </div>
                                </ng-template>
                            </p-picklist>
                        </div>

                        <div class="flex pt-6 justify-between">
                            <p-button label="Retourner en saisie" severity="secondary" icon="pi pi-arrow-left" (onClick)="etapeSaisie(-1)" />
                            <p-button label="Valider les affectations" icon="pi pi-arrow-right" iconPos="right" (onClick)="etapeAfectation(1)" />
                        </div>
                    </ng-template>
                </p-step-panel>
                <p-step-panel [value]="3">
                    <ng-template #content let-activateCallback="activateCallback">
                        <div class="flex flex-col h-48">
                            <div class="border-2 border-dashed border-surface-200 dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 flex-auto flex justify-center items-center font-medium">Content III</div>
                        </div>
                        <div class="flex pt-6 justify-start">
                            <p-button label="Back" icon="pi pi-arrow-left" iconPos="right" (onClick)="etapeAfectation(-1)" />
                        </div>
                    </ng-template>
                </p-step-panel>
            </p-step-panels>
        </p-stepper>
    </div>
}




